POSTGRES_DSN=postgres://root:secret@localhost:5432/converge-development

OPENAI_API_KEY=
OPENAI_API_BASE_URL=
OPENAI_CHAT_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

MSGRAPH_API_TENANT_ID=
MSGRAPH_API_CLIENT_ID=
MSGRAPH_API_CLIENT_SECRET=

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=
